
header {
    background-color: #333;
    text-align: center;
    padding: 40px 0;
}

header img {
    width: 90px;
    /* ajuste conforme necessário */
    height: auto;
    transform: translate(-60%, -10%);


    position: absolute;



}

h3{
    font-size: 28px;
    font-family: 'rush';
    justify-content: center;
}
footer img {

    height: auto;
    width: 90px;
    /* ajuste conforme necessário */
    height: auto;
    transform: translate(-50%, -100%);


    position: absolute;


}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
   
}


footer button {

    border-radius: 20px;
    padding: 10px 25px;
    background-color: #fff;
    color: #000000;
    margin-top: 10px;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da viewport */
}

.box {
    width: 80%; /* Ajuste conforme necessário */
    padding: 20px;
    margin: 10px 0;
    background-color: #570B0B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:'rush';
    color: white;
    
}

.subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
    font-family: 'inter';
    margin-left: 20px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

.button {
    padding: 10px 20px;
    background-color: rgb(226, 221, 148);
    border:solid 1px rgb(109, 83, 0);
    color: #a58807;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #b99329;
}

:hover footer button {
    background-color: #EFC204;

}

.textbranco {
    margin-top: 50px;
    font-family: 'inter';
    font-size: 10px;
}

.textamarelo {
    font-family: 'inter';
    color: #EFC204;
    font-size: 20px;

}

.textamarelo2 {
    font-family: 'inter';
    color: #EFC204;
    font-size: 15px;

}

.link-container {
    text-align: center;
    margin-top: 20px;
    background-color: white;
    

}

.link {
    color: grey;
    display: block;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'rush';
    src: url(IntroRust-Base.otf);
}

@font-face {
    font-family: 'inter';
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}